body {
  font-size:100%;
  font-family:"Trebuchet MS",Trebuchet,Arial,Sans-Serif;
}

h1 {
  font-size:2.0em;
  color:white;
  font-weight:bold;
}

h2 {
  font-size:1.6em;
}

a {
  color:inherit;
  cursor:pointer;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

#header {
  padding:20px;
  background:#6b0d21;
}

.container {
  padding:20px;
  min-width:970px;
}

#main #left_rail{
  width:30%;
  float:left;
  margin-right:20px;
}

#main #right_rail {
  float:left;
  width:68%;
}

#main ul.list {
  background:#E3E4E5;
  width:100%;
  display:inline-block;
  padding-bottom:5px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-right-radius: 10px; 
  -webkit-border-bottom-left-radius: 10px;
}

#main li.item {
  padding:10px;
  float:left;
  clear:both;
}

#main img.snapshot {
  float:left;
  margin-right:10px;
  border:6px solid #7CB229;
}

#main ul.info {
  float:left;
}

#main .name {
  font-size:1.3em;
  margin-bottom:6px;
}

#main ul.info li {
  margin-bottom:3px;
}

#main .one h2 {
  background:red;
  border:1px solid red;
}

#main .two h2 {
  background:#6db22f;
  border:1px solid #6db22f;
}

#main .three h2 {
  background:#f29b1b;
  border:1px solid #f29b1b;
}

#main .module {
  margin-bottom:20px;
}

#main .module h2 {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px; 
  -webkit-border-top-left-radius: 10px;
  padding:10px;
  color:white;
}

#main ul#reviews .photo {
  float:left;
  margin-right:10px;
  border:6px solid #7CB229;
}

#main ul#reviews ul li {
  margin-bottom:10px;
}
