body {
  font-size:100%;
  font-family:"Trebuchet MS",Trebuchet,Arial,Sans-Serif;
}

h1 {
  font-size:1.8em;
  font-weight:bold;
}

#header {
  padding:20px;
  background:#6b0d21;
}

#main {
  padding:20px;
}

#main ul {
  border:2px solid red;
/*  float:left;*/
}
